body {
  width: 100%;
  background-color: rgb(24, 24, 24);

  .jumbotron {
    width: 100%;
    max-width: 768px;
    min-height: 100px;
    max-height: 150px;
    border-radius: 0 !important;
    background-color: whitesmoke;
    margin-bottom: 30px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%);

    h1 {
      font-weight: bold;
      font-size: 2.8em;

      @media only screen and (max-width: 560px) {
        position: relative;
        top: 34px;
      }
    }

    .btn-info {
      @media only screen and (min-width: 580px) {
        position: relative;
        top: -50px;
        left: 20px;
      }
    }
  }

  #new-book-form {

    margin-bottom: 35px;
    min-height: 38px;

    .btn-info {
      background-color: rgb(36, 36, 36);
      color: rgb(228, 228, 228);
      border-color: grey;

      &:hover {
        color: white;
      }
    }

    #book-form {
      position: absolute;
      z-index: 1;
      padding: 20px;
      left: 38%;
      border: 1px solid rgb(24, 24, 24);
      background-color: rgb(24, 24, 24);
      color: whitesmoke;
      #submit-cancel {
        width: 100%;
      }
    }
    
  }

  #library {

    min-width: 95%;

    .btn-danger {
      background-color:rgb(24, 24, 24);
      color: whitesmoke;
      border-color: rgb(97, 0, 0);

      &:hover {
        color: white;
        border-color: rgb(189, 0, 0);
      }
    }
  
    .bookCard {
      width: 45%;
      margin-bottom: 30px;
      border-radius: 0 !important;
      padding: 10px;
      background-color: rgb(41, 41, 41);
      color: whitesmoke;
      border: 1px solid whitesmoke;

      .card-title {
        font-weight: 600;
        text-align: right;
      }

      .card-subtitle {
        text-align: right;
      }

      @media only screen and (max-width: 768px){
        width: 90%;
      }
    }
  }
}